* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.calcCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  height: 100vh;
}

.calcCenter h1 {
  font-size: 3rem;
  margin: 0;
}

.mainCalculator {
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  width: 50%;
  margin-left: auto;
}

.one,
.two,
.three,
.four,
.five {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.orange {
  background: rgb(245, 145, 62);
  color: black;
}

input[type="button"] {
  border: 1px solid #222;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type="button"]:active {
  background: #ccc;
}

.screen-row {
  width: 100%;
  height: 60px;
  background: #858694;
  border: 1px solid #222;
  border: 0;
  color: #fff;
  padding: 10px;
  text-align: right;
}

.zero {
  grid-column: 1 / span 2;
}
