.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0 20px;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
}

.home h1 {
  font-size: 4rem;
  margin: 0;
}

.home p {
  margin: 0;
  font-size: 2rem;
  font-weight: 200;
}
